<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Colwyn Fritze-Moor</title>

  <link rel="stylesheet" href="/base.css">
  {{ styles }}
</head>

<body>
  <header class="header bookend">
    <div class="header_container container">
      <a href="/" title="Home" class="header_logo">CJFM</a>
      <nav class="header_nav">
        {{#each navigationItems}}
        <div class="header_nav-item"><a class="header_nav-link bookend_link" href="{{ this.path }}"
            title="{{ this.name }}">{{
            this.name }}</a></div>
        {{/each}}
        <div class="header_nav-item"><a class="header_nav-link bookend_link" href="https://github.com/colwynmyself/"
            title="My GitHub" target="_blank">GitHub{{ icon 'arrow-up-right' 16 }}</a></div>
      </nav>
    </div>
  </header>
  <div class="container">
    {{ content }}
  </div>
  <footer class="footer bookend">
    <div class="container">
      <a class="bookend_link" href="mailto:colwyn@colwyn.me" title="colwyn@colwyn.me">colwyn@colwyn.me</a>
    </div>
  </footer>

  <!-- TODO: Package this locally -->
  <link rel="stylesheet" href="https://unpkg.com/@primer/octicons@17.2.0/build/build.css">
</body>

</html>
